################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Gestao_Farmacia/.vs/Gestao_Farmacia
/Gestao_Farmacia/Gestao_Farmacia/bin/Debug/net8.0
/Gestao_Farmacia/Gestao_Farmacia/obj
/.vs
/Gestao_Farmacia/Dados/bin/Debug/net8.0
/Gestao_Farmacia/Dados/obj
/Gestao_Farmacia/Dominio/obj
/Gestao_Farmacia/Dominio/bin/Debug/net8.0
/Gestao_Farmacia/Interface/obj
/Gestao_Farmacia/Interface/bin/Debug/net8.0
/Gestao_Farmacia/IOC/bin/Debug/net8.0
/Gestao_Farmacia/IOC/obj
/Gestao_Farmacia/Negocio/obj
/Gestao_Farmacia/.vs/ProjectEvaluation/gestao_farmacia.metadata.v9.bin
/Gestao_Farmacia/.vs/ProjectEvaluation/gestao_farmacia.projects.v9.bin
/Gestao_Farmacia/.vs/ProjectEvaluation/gestao_farmacia.strings.v9.bin
/Gestao_Farmacia/Aplicacao/obj/Debug/net8.0
/Gestao_Farmacia/Aplicacao/obj/Aplicacao.csproj.nuget.dgspec.json
/Gestao_Farmacia/Aplicacao/obj/Aplicacao.csproj.nuget.g.props
/Gestao_Farmacia/Aplicacao/obj/Aplicacao.csproj.nuget.g.targets
/Gestao_Farmacia/Aplicacao/obj/project.nuget.cache
/Gestao_Farmacia/Aplicacao/obj/project.assets.json
/Gestao_Farmacia/Entidade/bin/Debug/net8.0
/Gestao_Farmacia/Entidade/obj/Debug/net8.0
/Gestao_Farmacia/Entidade/obj
/Gestao_Farmacia/Negocio/bin/Debug/net8.0
